<footer class="footer">
    <div class="container">
        <div class="columns">

            <div class="column">
                <div class="content">
                    <h1>dnd-th.com</h1>
                    <ul>
                        <li><a href="/blog">บล็อก</a></li>
                        <li><a href="/books">หนังสือ</a></li>
                        <li><a href="/adventures">เนื้อเรื่องการผจญภัย</a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-hidden-mobile	"></div>
            <div class="column">
                <div class="content">
                    <h1 class="is-hidden-mobile	">&nbsp;</h1>

                    <ul>
                        <li><a href="/credit">เครดิต</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>