<header class="section">
    <div class="container">


        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="is-size-3">Dungeons & Dragons</h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    {% for menu in site.data.topmenus %}

                    {% if menu.child[0] %}

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"  href="{{menu.url}}">
                            {{ menu.title }}
                        </a>
                        <div class="navbar-dropdown">
                            {% for submenu in menu.child %}
                            <a class="navbar-item"  href="{{submenu.url}}">
                                {{ submenu.title }}
                            </a>

                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <a class="navbar-item" href="{{menu.url}}">
                        {{ menu.title }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <!--
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            -->
            </div>
        </nav>
    </div>
</header>