---
layout: base
---

<section class="section">
  
  <div class="container columns ">
    <aside id="side-menu" class="column is-half-tablet is-one-quarter-desktop menu is-hidden-touch">
      <ul class="menu-list">
        {% for menu in site.data[page.menu] %}
        <li><a href="{{ menu.url}}">{{ menu.name }}</a>
          {% if menu.children[0] %}
          <ul class="menu-list">
            {% for submenu in menu.children %}
            <li><a href="{{ submenu.url}}">{{ submenu.name }}</a>
              {% if submenu.children[0] %}
              <ul class="menu-list">
                {% for submenu2 in submenu.children %}

                <li><a href="{{ submenu2.url}}">{{ submenu2.name }}</a></li>
                  {% endfor %}

              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </aside>
    
    <article class="column page content">
      <button id="side-toggle" class="button bd-docs-button js-toggle is-hidden-desktop" data-target="js-docs">
        TOC
      </button>
      {{ content }}

    </article>
  </div>
</section>